@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-size: 18px;
  background-color: #0d192b;
  line-height: 1;
  font-family: "Outfit", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
